<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1><a href="">The Void</a></h1>

      <p class="lead">
        Der Weltraum. Flotten, Planeten, Technologien. Spieler bezwingen.
        <br />
        Nur diesmal: Richtig!
      </p>

      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: 'alert alert-' + name.to_s %>
      <% end -%>

      <%= debug params %>

      <hr />

      <p><a href="#home-login" data-toggle="collapse">Login</a></p>

      <form role="form" action="/home/index" method="post" id="home-login" class="collapse out">
        <div class="form-group">
          <input type="text" id="login_email" class="form-control" name="email" value="" placeholder="E-Mail" />
        </div>

        <div class="form-group">
          <input type="text" id="login_password" class="form-control" name="password" placeholder="Passwort" value="" />
        </div>

        <div class="form-group">
            <div class="checkbox">
              <label>
                <input id="login_permanent" type="checkbox" name="remember" value="1"> eingeloggt bleiben
              </label>

              <a class="pull-right" id="passwort_reset" href="javascript:void(0);">Passwort vergessen?</a>
              <input type="hidden" name="forgotten" id="login_new_password" value="" />
            </div>
        </div>

        <div id="new_password_info_box" class="alert alert-info hidden">
          <span class="glyphicon glyphicon-hand-right"></span>
          Um Ihr Passwort zurückzusetzen, geben Sie bitte die E-Mail-Adresse ein, unter der Sie sich angemeldet haben. Drücken Sie anschließend auf den Button "Passwort anfordern". Ein neues Passwort wird Ihnen dann zugesandt.
        </div>

        <div class="form-group">
          <button id="login_button" type="submit" name="button" value="login" class="btn btn-primary">einloggen</button>
        </div>

        <input type="hidden" name="authenticity_token" value="" />
      </form>

      <p><a href="#home-register" data-toggle="collapse">Registrieren</a></p>

      <form role="form" action="/home/index" method="post" id="home-register" class="collapse out">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Spielername" value="" name="nick" />
        </div>

        <div class="form-group">
          <input type="email" class="form-control" placeholder="E-Mail" value="" name="email" />
        </div>

        <div class="form-group">
          <button type="submit" name="button" value="register" class="btn btn-primary">registrieren</button>
        </div>

        <input type="hidden" name="authenticity_token" value="" />
      </form>

      <p><a href="">Über das Spiel</a></p>
      <p><a href="">Wiki</a></p>

      <hr />

      <p><a href="">Impressum</a></p>
      <p><a href="">Datenschutz</a></p>

      <hr />
    </div>

    <div class="col-md-8">
      <img class="img-responsive img-rounded img-front" src="/images/front.jpg" alt="" />
    </div>
  </div>
</div>